---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.container-fluid {
  background-color: #fff;
}

.about {
  position: relative;
  max-width: 70%;
  display: inline-block;
}
.banner {
  margin-top: 1%;
  padding: 5px;
  font-weight: bold;
}

.emergency {
  background-color: #BF004B;
  border-radius: 10px;
  text-weight: bold;
  color: white;
  margin: auto;
  padding: 5px;
}

.hotline {
  text-align: center;
  margin-top: 1%;
  padding: 5px;
  padding-right: 15px;
}

.logo {
  max-width: 75%;
  padding-left: 15px;
}

.navbar-collapse {
  background-color: #01807E;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default {
  border-style: none;
  margin-bottom: 0px;
}

.navbar-toggle {
  left: 50%;
  margin-left: -22px;
  float: none;
}

.scales {
  max-width: 25%;
  max-height: 250px;
  float: right;
  display: inline-block;
}

//Homepage

.home-message p {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.option-image {
  max-height: 400px;
  overflow: hidden;
}

.homepage-image {
  -webkit-border-radius: 15px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.homepage-box {
  padding: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 15px;
  position: relative;
  min-height: 253px;
}

@media all and (max-width: 600px) {
    .option-image {
        display:none;
    }
    p.option-text {
      min-height: 154px;
    }
    p.home-message {
      display: none;
    }
    .col-xs-6 {
      padding: 5px;
      margin-bottom: -10px;
    }
}

.option-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
  min-height: 100px;
  margin-top: 10px;
}

.option-button {
  bottom: 10px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.preview {
  max-width: 40%;
  display: inline-block;
  border-radius: 15px;
  vertical-align: middle;
}

.preview-text {
  float: right;
  max-width: 55%;
  display: inline-block;
}

.btn.btn-default.click-here {
  font-weight: bold;
  color: black;
  display: block;
  margin: auto;
}

.safetyplan {
  width:100%;
  min-height:200px;
  -webkit-border-radius: 15px;
  resize: none;
  outline: none;
  border-style: solid;
  border-color: black;
  padding: 10px;
}

.safety {
  padding: 10px;
  margin-top: 20px;
}

//Generic

.banner-image {
  -webkit-border-radius: 15px;
  margin-bottom: 15px;
}

.option-box {
  padding: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 15px;
  position: relative;
}

.blue {
  background-color: #01807E;
}

.blue-text {
  color: #01807E;
  font-weight: bold;
}

.light-blue {
  background-color: #0077BF;
}

.white {
  background-color: #fff;
}

.white-text {
  color: #fff;
}

.orange {
  background-color: #F05D22;
}

.orange-text {
  color: #F05D22;
  font-weight: bold;
}

.grey {
  background-color: #616161;
}

.yellow {
  background-color: #BFB900;
}

.bubble {
  padding: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 15px;
  position: relative;
}

.bubble-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  margin: auto;
}

.halflogo {
  margin-top: 15px;
}

.side {
  clear: right;
  float: right;
}

// -------------
// Local help table

.table {
  display: flex;
  flex-flow: column nowrap;
  box-pack: justify;
  -o-justify-content: space-between;
  justify-content: space-between;
  line-height: 1.25;
}

.table-header {
  display: flex;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1%;
}

.table-header-item {
  background-color: #F05D22;
}

.table-row {
  display: flex;
  flex-flow: row-nowrap;
  width: 100%;
  &:nth-of-type(even) { background-color: #F0F7F7; }
  &:nth-of-type(odd) { background-color: #C7E2E2; }
}

.table-row-item {
  padding: 1%;
  align-items: center;
  display: box;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding-left: 0.3em;
  word-break: break-word;
  border: 3px solid white;
}

.service {
  text-align: center;
  border-radius: 15px 0 0 15px;
}

.contact {
  border-radius: 0 15px 15px 0;
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.25;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
