<div class="option-box blue">
	<a name="booklets"><div class="bubble blue"></a>
		<h4 class="white-text bubble-title">Booklets</h4>
		<div class="bubble white">
		<p>➤ <a class="orange-text" href="../assets/survivors.pdf">Survivors of suicide</a>: although this booklet has been developed in Australia it has some helpful insights.</p>
		<p>➤ <a class="orange-text" href="../assets/support.pdf">Support after a suicide</a>: Sobs self-help booklet to support those bereaved by suicide or self-inflicted death.</p>
		<p>➤ <a class="orange-text" href="../assets/helpisathand.pdf">Help is at hand</a>: a resource for people bereaved by suicide and other sudden, traumatic death</p>
		<p>➤ Hard copies from Stockport public health department, Tel: 474 2450 or contact <b>info.wellbeing@stockport.gov.uk</b>.</p>
		</div>
	</div>
</div>
