<div class="option-box orange wrapped">
  <h3 class="white-text bubble-title">Who are we?</h3>
  <div class="inner-bubble white">
    <p>We are the Stockport Suicide Prevention Leadership Committee; a collaboration of Stockport and Manchester organisations working together to prevent suicide in Stockport.</p>
    <p> We are working in a variety of ways to achieve <b>our vision</b>:<br>
    Stockport will become a place in which people never see suicide as they only option. In the rare event of a completed suicide, bereaved relatives and friends will have timely, easy access to effective local support and information.</p>
  </div>
</div>
