<div class="option-box orange wrapped">
  <h3 class="white-text bubble-title">Who are we?</h3>
  <div class="inner-bubble white">
    <p>We are the Stockport suicide prevention leadership committee; a collaboration of Stockport and Manchester organisations working together to prevent suicide in Stockport. We are working in a variety of ways to achieve our vision: Stockport will become a place in which people never see suicide as they only option. In the rare event of a completed suicide, bereaved relatives and friends will have timely easy access to effective local support and information.</p>

    <p>For more information contact:<br>
    Public health Stockport council<br>
    info.wellbeing@stockport.gov.uk<br>
    0161 474 2463</p>
  </div>
</div>
