<div class="option-box blue">
	<h4 class="white-text bubble-title">What should I do in an emergency?</h4><br>
	<p class="white-text">If you’re worried that someone is at immediate risk of taking their own life, you should stay with that person and take one of the following steps:</p>
	<div class="bubble white">
			<p>➤ encourage them to ring the Samaritans, 08457 90 90 90, open 24 hours a day</p>
			<p>➤ contact their GP for an emergency appointment or call the out of hours service</p>
			<p>➤ call their Mental Health worker, if they have one</p>
			<p>➤ ring 999 or NHS direct (111 from any landline or mobile phone, free of charge)</p>
			<p>➤ go to the nearest Accident and Emergency (A&E) department</p>
			<p>➤ go through their <a class="orange-text" href="/safetyplan">Safety Plan</a> with them, if they have one – or go to the Safety Plan page to help them develop a plan</p>
	</div>
</div>
