<div class="option-box orange"
	<a name="helplines"><div class="bubble orange"></a>
		<h3 class="white-text bubble-title">Helplines</h3>
		<div class="bubble white">
		<p>➤ If you’re thinking about suicide, help is out there. However you’re feeling at the moment, you don’t have to cope on your own. Asking for help is a really brave and positive thing. The helplines and websites below are all there for people who are thinking about suicide, <em>experiencing overwhelming distress and feeling unable to cope!</em></p>
		<p>➤ Helpline links</p>
	</div>
</div>
