<div class="option-box orange">
	<a name="helplines"></a>
		<h3 class="white-text bubble-title">Helplines</h3>
		<div class="inner-bubble white">
		<p>➤ If you’re thinking about suicide, help is out there. However you’re feeling at the moment, you don’t have to cope on your own. Asking for help is a really brave and positive thing. The helplines and websites below are all there for people who are thinking about suicide, <em>experiencing overwhelming distress and feeling unable to cope!</em></p>
		<p>➤ <a class="orange-text" href="http://wwww.samaritans.org">Samaritans</a>: A 24/7 helpline service which gives you a safe space where you can talk about what is happening, how you are feeling, and how to find your own way forward. tel: 116 123,  jo@samaritans.org</p>
		<p>➤ <a class="orange-text" href="http://www.sane.org.uk" target="_blank">www.sane.org.uk</a>: Advice for those in crisis. tel: 0845 767 8000</p>
		<p>➤ <b>NHS choices</b>: 24 hour national helpline providing help advice and info. www.nhs.uk. tel: 111 (free call from landline and mobile).</p>
		<p>➤ <a class="orange-text" href="http://www.thecalmzone.net" target="_blank">www.thecalmzone.net</a>: Helpline for men, 5pm–midnight, 365 days a year, or find help online and web cam.</p>
		<p>➤ <a class="orange-text" href="http://www.papyrus-uk.org" target="_blank">HOPELineUK</a>: Confidential young suicide prevention advice. Opening hours: Monday - Friday 10am - 5pm and 7pm - 10pm, weekends 2pm - 5pm. tel: 08000 68 41 41 (national call rates apply).</p>
		<p>➤ <a class="orange-text" href="http://www.getconnected.org.uk" target="_blank">www.getconnected.org.uk</a>: Free confidential help for young people under 25. Get connected on line, chat Freephone 0808 808 4994 or text us on 80849</p>
</div>
