<div class="bubble orange">
	<h3><p class="white-text bubble-title">Online Resources</p></h3>
	<div class="bubble white">
		<p><strong>There are a number of online support services that can help you:</strong></p>
		<a class="orange-text" href="http://uk-sobs.org.uk">www.uk-sobs.org.uk</a><br>National charity providing dedicated support to adults who have been bereaved by suicide.</p>
		<a class="orange-text" href="http://suicidebereavementsupport.com">www.suicidebereavementsupport.com</a><br>The partnership aims to make sure that everyone affected by suicide can get the help they need.</p>
		<a class="orange-text" href="http://www.cruse.org.uk/">www.cruse.org.uk</a><br>National bereavement support.</p>
		<a class="orange-text" href="http://www.tcf.org.uk/">www.tcf.org.uk</a><br>Supporting bereaved parents and their families when a child dies.</p>
		<a class="orange-text" href="http://www.ifucareshare.co.uk">www.ifucareshare.co.uk</a><br>A charity promoting emotional wellbeing in young people & supporting families affected by suicide.</p>
	</div>
</div>