<div class="option-box orange">
	<h3 class="white-text bubble-title">Online Resources</h3>
	<div class="inner-bubble white online">
		<p><strong>There are a number of online support services that can help you:</strong></p>
		<a class="orange-text" href="http://uk-sobs.org.uk" target="_blank">www.uk-sobs.org.uk</a><br>National charity providing dedicated support to adults who have been bereaved by suicide.</p>
		<a class="orange-text"  target="_blank"="http://suicidebereavementsupport.com" target="_blank">www.suicidebereavementsupport.com</a><br>The partnership aims to make sure that everyone affected by suicide can get the help they need.</p>
		<a class="orange-text" href="http://www.cruse.org.uk/" target="_blank">www.cruse.org.uk</a><br>National bereavement support.</p>
		<a class="orange-text" href="http://www.tcf.org.uk/">www.tcf.org.uk</a><br>Supporting bereaved parents and their families when a child dies.</p>
		<a class="orange-text" href="http://www.ifucareshare.co.uk" target="_blank">www.ifucareshare.co.uk</a><br>A charity promoting emotional wellbeing in young people & supporting families affected by suicide.</p>
	</div>
</div>
