<div class="side col-md-4">
  <div class="bubble grey">
    <h3 class="white-text bubble-title"><p>Recommended Resources</p></h3>
      <div class="bubble white">
      <p><strong>For more help in how to start difficult conversations, try these resources from:</strong></p>
      <ul>
        <li><a class="orange-text" href="http://www.samaritans.org/how-we-can-help-you/contact-us">The Samaritans</a></li>
        <li><a class="orange-text" href="http://www.healthscotland.com/topics/health/suicide/index.aspx">Health Scotland</a></li>
      </ul>
      </div>
  </div>
</div>
