<div class="option-box orange">
  <h3 class="white-text bubble-title">Other</h3>
  <div class="bubble white">
    <p>➤ Watch: <a class="orange-text" href="http://www.connectingwithpeople.org/ucancope">U Can Cope</a> is a 20 minute film made by people who felt suicidal and talks about what they did to cope and recover.</p>
    <p>➤ <a class="orange-text" href="http://www.connectingwithpeople.org/StayingSafe">Staying Safe: if you’re not sure life’s worth living</a>: this has been written by a mixture of professionals supporting suicidal people, people who have got through tough times and people who have supported their own friends and family people to support anyone in distress and feeling suicidal.</p>
    <p>➤ Attend: Get support from <a class="orange-text" href="http://www.signpostforcarers.org.uk/">a local carers' group.</a></p>
  </div>
</div>
