<div class="side col-md-4">
  <div class="bubble blue">
    <h3><p class="white-text bubble-title">The Stockport suicide preventions leadership committee (SSPLC) includes:</p></h3>
    <div class="bubble white">
    <ul>
      <li>Chris Jeffries: Stockport Samaritans</li>
      <li>Mary Hopper: Psychological Therapies manager Pennine care</li>
      <li>Fran Prince: Governance anger Pennine care</li>
      <li>Joanne Claridge: Health lead for Stockport Homes</li>
      <li>Ian Cummins: Acting Director of Social Work Education University of Salford</li>
      <li>Les Crabb: Operational manager Stockport Mind</li>
      <li>Lynn Barrett: manager Spac</li>
      <li>James Harper: operational manager Beacon counseling</li>
      <li>Nikki Guy Centre: manager Stockport Women’s Centre</li>
      <li>Jo Taylor: Counselling and Psychotherapy Service Manager Stockport women’s center</li>
      <li>Jess Patient: Clinical Services Manager Psychological Wellbeing Services. Self-help Services.</li>
      <li>Andrea Lyons: community manager Self Help Services</li>
      <li>Jackie ‘Bryan-Harris: Mental Health and wellbeing team Stockport college</li>
      <li>Patricia Gooding: Senior Lecturer School of Psychological Sciences University of Manchester</li>
      <li>Elysabeth Williams Stockport public health team Stockport council</li>
    </ul>
    <br>

    <p>For more information about suicide prevention in Stockport please feel free to contact:<br>
    Stockport public health team,<br>
    Stockport council,<br>
    Email: elysabeth.williams@stockport.gov.uk<br>
    Telephone: 0161 474 2462</p>
    </div>
  </div>
</div>
