<div class="bubble blue">
  <h3 class="white-text bubble-title">The Stockport suicide preventions leadership committee (SSPLC) includes:</h3>
  <div class="bubble white">
    <p>➤ <b>Chris Jeffries:</b> Stockport Samaritans</p>
    <p>➤ <b>Mary Hopper:</b> Psychological Therapies manager Pennine care</p>
    <p>➤ <b>Fran Prince:</b> Governance anger Pennine care</p>
    <p>➤ <b>Joanne Claridge:</b> Health lead for Stockport Homes</p>
    <p>➤ <b>Ian Cummins:</b> Acting Director of Social Work Education University of Salford</p>
    <p>➤ <b>Les Crabb:</b> Operational manager Stockport Mind</p>
    <p>➤ <b>Lynn Barrett:</b> manager Spac</p>
    <p>➤ <b>James Harper:</b> operational manager Beacon counseling</p>
    <p>➤ <b>Nikki Guy Centre:</b> manager Stockport Women’s Centre</p>
    <p>➤ <b>Jo Taylor:</b> Counselling and Psychotherapy Service Manager Stockport women’s center</p>
    <p>➤ <b>Jess Patient:</b> Clinical Services Manager Psychological Wellbeing Services. Self-help Services.</p>
    <p>➤ <b>Andrea Lyons:</b> community manager Self Help Services</p>
    <p>➤ <b>Jackie Bryan-Harris:</b> Mental Health and wellbeing team Stockport college</p>
    <p>➤ <b>Patricia Gooding:</b> Senior Lecturer School of Psychological Sciences University of Manchester</p>
    <p>➤ <b>Elysabeth Williams:</b> Stockport public health team Stockport council</p>
  <br>

  <p>For more information about suicide prevention in Stockport please feel free to contact:<br>
  Stockport public health team,<br>
  Stockport council,<br>
  Email: elysabeth.williams@stockport.gov.uk<br>
  Telephone: 0161 474 2462</p>
  </div>
</div>
