<div class="option-box blue wrapped">
  <h3 class="white-text bubble-title">The Stockport Suicide Preventions Leadership Committee (SSPLC) includes:</h3>
  <div class="inner-bubble white">
    <img class="panel-image" src="../assets/img/logos/smbc.jpg">
    <img class="panel-image" src="../assets/img/logos/manchester.png">
    <img class="panel-image" src="../assets/img/logos/selfhelp.jpg">
    <img class="panel-image" src="../assets/img/logos/mind.jpg">
    <img class="panel-image" src="../assets/img/logos/ccg.jpg">
    <img class="panel-image" src="../assets/img/logos/sparc.jpg">
    <img class="panel-image" src="../assets/img/logos/salford.jpg">
    <img class="panel-image" src="../assets/img/logos/pennine.jpg">
    <img class="panel-image" src="../assets/img/logos/homes.jpg">
    <img class="panel-image" src="../assets/img/logos/twc.jpg">
    <img class="panel-image" src="../assets/img/logos/samaritans.jpg">

  <p>For more information about suicide prevention in Stockport please feel free to contact:<br>
  Stockport Public Health team,<br>
  Stockport council,<br>
  Telephone: 0161 474 2462</p>
  </div>
</div>
