<div class="option-box blue">
  <h3 class="white-text bubble-title">Read</h3>
  <div class="bubble white">
    <p>➤ <a class="orange-text" href="http://llttf.com/free_booklets/i_feel_so_bad_i_cant_go_on/">I feel so bad I can't go on</a> gives you tips about staying alive - even when you might not want to. It also helps you imagine a life when you start to feel good again - because you will.</p>
    <p>➤ For help with how to start a difficult conversation - you can try these resources from <a class="orange-text" href="http://www.samaritans.org/how-we-can-help-you/what-speak-us-about/if-you%E2%80%99re-worried-about-someone/how-start-difficult">The Samaritans</a> or from <a class="orange-text" href="http://www.healthscotland.com/uploads/documents/2842-TheArtOfConversationSummary.pdf">Health Scotland.</a></p>
    <p>➤ Find out about the <a class="orange-text" href="http://www.healthystockport.co.uk/mentalwellbeing/five_simple_steps_to_mental_wellbeing">Five Ways to Wellbeing</a> - proven ways of improving how you feel.</p>
  </div>
</div>
