<div class="side col-md-4">
  <div class="option-box blue">
    <h3 class="white-text bubble-title">Read</h3><br>
  <div class="bubble blue">
    <h3 class="white-text bubble-title"><p>Read</p></h3>
    <div class="bubble white">
      <p><a class="orange-text" href="#">I feel so bad I can't go on</a> gives you tips about staying alive - even when you might not want to. It also helps you imagine a life when you start to feel good again - because you will.</p>
      <p>For help with how to start a difficult conversation - you can try these resources from <a class="orange-text" href="#">The Samaritans</a> or from <a class="orange-text" href="#">Health Scotland.</a></p>
      <p>Find out about the <a class="orange-text" href="#">Five Ways to Wellbeing</a> - proven ways of improving how you feel.</p>
    </div>
  </div>
</div>