<div class="side col-md-4">
  <div class="bubble orange">
    <h3><p class="white-text bubble-title">Helping you recover</p></h3>
    <div class="bubble white">
      <p>At first, and for some time after the death, you may not even be able to think about the way forward because all of your efforts will go into surviving and dealing with the emotional challenges and practical problems it has brought. Losing a loved one always takes a long time to come to terms with but bereavement by suicide is known to involve a particularly difficult and lengthy period of grieving.</p>
      <p>People may expect that you will recover within months; the truth is that you may never recover completely but you will adapt to a changed life over time.  Be prepared for this, however don’t think that it means you will always feel the pain so keenly.  You may not be able to imagine how the pain will lessen but over time the gaps in between the moments of thinking about your loss gradually get bigger and bigger.  Things will never be the same as before but you will find a “new normal”.</p>
      <p>It’s really important to look after your own wellbeing – the<a class="orange-text" href="http://www.mind.org.uk/workplace/mental-health-at-work/taking-care-of-yourself/five-ways-to-wellbeing/"> Five Ways to Wellbeing</a> handbook discusses five key things we need in our lives to have a sense of wellbeing – and gives tips on how to improve your wellbeing.</p>
      <p><a class="orange-text" href="http://www.llttf.com/index.php">The Living Life to the Full</a> course provides helpful and practical tips for feeling better and managing emotions</p>
      <p>You may find it helpful to talk to a health professional or counsellor – see <a class="orange-text" href="/help">local services</a> for details</p>
    </div>
  </div>
</div>