<div class="option-box orange">
	<h4 class="white-text bubble-title">Recommended Resources</h4>
	<div class="inner-bubble white">
		<p class="blue-text underlined"><b>Read me now:</b></p>
		<p>➤ The <a class="orange-text" href="http://llttf.com/free_booklets/i_feel_so_bad_i_cant_go_on">"I feel so bad I can't go on" booklet</a> gives you tips about staying alive - even when you might not want to. It also helps you image a life when you start to feel good again - because you will.</p>
		<p class="blue-text underlined"><b>Watch me now:</b></p>
		<p>➤ <a class="orange-text" href="http://www.connectingwithpeople.org/ucancope">U Can Cope</a> is a 20 minute film made by people who feel suicidal and talks about what they did to cope and recover.</p><br>
		<p>➤ <a class="orange-text" href="http://www.connectingwithpeople.org/StayingSafe">Staying Safe</a> is a slideshow written by a group of people including professionals supporting suicidal people, people who have got through tough times and people who have supported their own friends and family.</p>
		<p>➤ <a class="orange-text" href="http://therecoveryletters.com/">The Recovery Letters</a> are all written with the intention to try and alleviate some of the pain of depression, to make the loneliness slightly more bearable and above all to give hope that you can recover.</p>
	</div>
</div>
