<div class="side col-md-4">

  <div class="option-box orange">
    <h3 style="color:white"><b>Recommended Resources<b></h3>
    <div class="bubble white">
      <p style="color: #F05D22"><b>Read me now:<b></p>
      <a href="#">"I feel so bad I can't go on" booklet</a>
      <p>This little booklet gives you tips about staying alive - even when you might not want to. It also helps you image a life when you start to feel good again - because you will.</p>
      <br>
      <p style="color: #F05D22"><b>Watch me now:<b></p>
      <p>U Can Cope is a 20 minute film made by people who feel suicidal and talks about what they did to cope and recover:</p>
      <a href="http://www.connectingwithpeople.org/ucancope">U Can Cope</a>
    </div>
  </div>

</div>
