<div class="side col-md-4">

  <div class="option-box blue local-support-services">
    <h3 style="color:white"><b>Local Support Services</b></h3>
    <p style="color:white">There are a number of local support services in Stockport that can help you.</p>
    <div class="bubble white">
      <h3 style="color: #01807E"><b>Samaritans</b></h3>
      <p>Confidential listening service for people 24 hours a day, 365 ays a year. Talk to them anytime you like, in your own way, and off the record - about whatever's getting to you.</p>
      <p>Call 0161 432 1221 or 084557909090 or email jo@samaritans.org</p>
    </div>
    <div class="bubble white">
      <h3 style="color: #01807E"><b>Beacon Counselling</b></h3>
      <p>Confidential counselling service for people over 18 covering depression, anxiety, stress, bereavement and loss, relationships, family breakdown, trauma, childhood abus, domestic violence and abuse.</p>
      <p>Call for appointments 0161 440 0055 or email office@beacon-counselling.org.uk</p>
    </div>
  </div>
</div>
