<div class="option-box blue wrapped">
  <h4 class="option-title white-text">Local Support Services</h4>
  <p style="color:white">There are a number of local support services in Stockport that can help you.</p>
  <div class="white inner-bubble">
    <h4 class="option-title blue-text">Samaritans</h4>
    <p>Confidential listening service for people 24 hours a day, 365 days a year. Talk to them anytime you like, in your own way, and off the record - about whatever's getting to you.</p>
    <p>Call 0161 432 1221 or 084557 909090,<br> or email jo@samaritans.org</p>
  </div>

  <div class="white inner-bubble spaced10">
    <h4 class="option-title blue-text">Self help services</h4>
    <p>Support through our counselling and Cognitive Behavioural Therapies (CBT) covering depression, anxiety, low self-esteem, low mood, Obsessive Compulsive Disorder (OCD) and panic disorders.</p>
    <p>The Sanctuary: ‘overnight, every night’ service Ring for appointment 0161 637 0808 or ask GP to refer <a class="orange-text" href="http://www.selfhelpservices.org.uk" target="_blank">www.selfhelpservices.org.uk</a></p>
  </div>

  <div class="white inner-bubble spaced10">
    <h4 class="option-title blue-text">Beacon Counselling</h4>
    <p>Confidential counselling service for people over 18 covering depression, anxiety, stress, bereavement and loss, relationships, family breakdown, trauma, childhood abuse, domestic violence and abuse.</p>
    <p>Call for appointments 0161 440 0055 or email office@beacon-counselling.org.uk</p>
  </div>
  <p class="white-text centred flat">Click <a class="orange-text" href="/help" target="_blank">here</a> to view more</p>
</div>
