<div class="bubble blue">
  <h3><p class="white-text bubble-title">Things you can do</p></h3>
  <div class="bubble white">
    <ul><strong>
      <li>Look after your own wellbeing</li>
      <li>You may find it helpful to talk with a health professional or counsellor – see our <a class="orange-text" href="/help">Local Help</a> page for more information</li>
      <li>Remember it is natural to feel shock; angry; guilty; relieved; ashamed; anxious; and sad – this is normal!</li>
    </strong>
    <ul>
  </div>
</div>