	<div class="option-box blue">
		<a name="training"></a>
		<h3 class="white-text bubble-title">Local Training</h3>
		<div class="inner-bubble white wrapped">
			<p>➤ Stockport suicide prevention leadership committee (SSPLC) are in the process of developing local suicide prevention. For further information contact Elysabeth Williams, public health Stockport council, <b>elysabeth.williams@stockport.gov.uk</b></p>
			</p>➤ Mental health training - develops your knowledge and skills to help you have more effective mental wellbeing conversations within your everyday practice. For more information contact <b>info.wellbeing@stockport.gov.uk</b></p>
		</div>
	</div>
