<div class="option-box orange">
  <h3 class="white-text bubble-title">Looking after yourself</h3>
  <div class="inner-bubble white">
    <p><strong>It is important that you are able to look after your own health and ask for help to deal with the emotions you may be experiencing.</strong></p>
      <p>➤ Talk to a friend or family member</p>
      <p>➤ Get help from online forums – the <a class="orange-text" href="http://www.nshn.co.uk/" target="_blank">national self-harm network</a> has a helpline and online forum for families affected by self-harm and suicide: Phone: 0800 622 6000 (7pm to 11pm)</p>
      <p>➤ Get support from a local carers’ group</p>
      <p>➤ Find out about the <a class="orange-text" href="http://www.mind.org.uk/workplace/mental-health-at-work/taking-care-of-yourself/five-ways-to-wellbeing/" target="_blank">Five Ways to Wellbeing</a> – proven ways of improving how you feel</p>
      <p>➤ <a class="orange-text" href="http://www.llttf.com/index.php" target="_blank">Living Life to the Full</a> is an online course aimed at improving people’s wellbeing – taking this course may help you to feel stronger and better able to help other people</p>
  </div>
</div>
