.emergency {
  font-size: 14px;
  text-align: center;
  background-color: #BF004B;
  border-radius: 15px;
  color: white;
  margin: auto;
  padding: 5px;
}

.hotline {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%;
}

.logo {
  max-width: 50%;
}
