.table {
  display: table;
}

.contact {
  border-radius: 0 25px 25px 0;
}

.service {
  padding: 0px;
  padding-left: 5px;
  margin: 0px;
  text-align: center;
  border-radius: 25px 0 0 25px;
}


body {
  font-family: arial;
}

// Breakpoints
$bp-maggie: 15em;
$bp-lisa: 30em;
$bp-bart: 48em;
$bp-marge: 62em;
$bp-homer: 75em;

.responsive-table {

  border-spacing: 5px;
  border-collapse: separate;

  width: 100%;

  @media (max-width: $bp-bart) {
    font-size: .9em;
  }

  @media (min-width: $bp-marge) {
    font-size: 1em;
  }

  @media (max-width: $bp-bart) {
    margin-bottom: 15px;
  }

  thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    margin-bottom: 5px;

    @media (min-width: $bp-bart) {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }

    th {
      background-color: #F05D22;
      font-weight: normal;
      text-align: center;
      color: white;
      padding: 0.5em;
    }
  }

  tbody, tr, th, td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  tr {
    &:nth-of-type(1) {
    }

    @media (min-width: $bp-bart) {
      display: table-row;
    }
  }

  th, td {
    padding: .5em;
    vertical-align: middle;

    @media (min-width: $bp-lisa) {
      padding: .75em .5em;
    }

    @media (min-width: $bp-bart) {
      display: table-cell;
      padding: .5em;
    }

    @media (min-width: $bp-marge) {
      padding: .75em .5em;
    }

    @media (min-width: $bp-homer) {
      padding: .75em;
    }
  }

  tbody {
    @media (min-width: $bp-bart) {
      display: table-row-group;
    }

    tr {
      @media (min-width: $bp-bart) {
        display: table-row;
        border-width: 1px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-of-type(even) {
        background-color: #C7E2E2;
      }
      &:nth-of-type(odd) {
        background-color: #F0F7F7;
      }

      @media (max-width: $bp-bart) {
        &:nth-of-type(1n) {
          background-color: transparent;
        }

        td {
          &:nth-of-type(1n) {
            background-color: #C7E2E2;
          }
        }
      }
    }

    th[scope="row"] {
      background-color: #F05D22;
      color: white;

      @media (min-width: $bp-lisa) {
        background-color: transparent;
        color: black;
        text-align: left;
      }

      @media (max-width: $bp-bart) {
        background-color: #F05D22;
        padding: 5px;
        border-radius: 25px;
        color: white;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 2px;
        text-align: center;
      }
    }

    td {

      @media (max-width: $bp-bart) {
        border: 2px solid white;
      }
    }

    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: 1em;
      color: #F05D22;
      font-weight: bold;

      @media (min-width: $bp-lisa) {
        font-size: .9em;
      }

      @media (min-width: $bp-bart) {
        content: none;
      }
    }
  }
}
