@media print {
  .site-header {
    display: none;
  }

  .bubble {
    display: none;
  }

  .print-box {
    display: none;
  }

  .print-link {
    display: none;
  }

  .print-text {
    display: none;
  }

  img.safety-mark {
    display: none;
  }

  .safety-text {
    display: none;
    font-size: 14px;
    padding: 5px;
    height: 200px;
    width: 300px;
  }

  .safety-header {
  font-weight: bold;
  }

  .safety-box {
    /*max-height: 275px;*/
  }

  .safety-description {
    display: none;
  }

  @page { size: landscape }
}

@media all and (max-width: 600px) {
  .preview {
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

  .preview-text {
    max-width: 100%;
  }

  div.safety-box {
    margin: auto;
  }

  .return-holder {
    display: block;
  }
}

@media all and (max-width: 767px) {
  .banner {
    margin-bottom: 0px;
  }

  .banner-image {
    display: none;
  }

  .col-xs-6 {
    padding: 2px;
    margin-bottom: -10px;
  }

  .homepage-box {
    padding: 10px;
    min-height: 160px;
    margin: auto;
    margin-bottom: 10%;
    display: table;
  }

  .home-message {
    display: none;
  }

  li.searchbox {
    margin-bottom: 5px;
  }

  .logo-holder {
    display: none;
  }

  .navbar-default {
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
  }

  .navbar-nav {
    margin: auto;
  }


  .option-button {
    display: none;
  }

  .click-here {
    display: block;
  }

  .option-button-mobile {
    display: block;
  }

  .option-image {
    display:none;
  }

  p.option-text {
    min-height: 80px;
    font-size: 1.1em;
    margin-left: 0px;
    margin-bottom: 0px;
    display: table-cell;
    vertical-align: middle;
  }

  img.preview {
    display: block;
    margin: auto;
  }

  p.preview-text {
    display: block;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
  }

  .safety-box {
    max-width: 250px;
  }

  .quicklink-box {
    display: none;
  }
}

@media all and (max-width: 991px) {
  .hotline {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media all and (min-width: 992px) {
  .hotline {
    left: -5px;
  }
}

@media all and (max-width: 994px) {
  .scales {
    display: none;
  }

  .about {
    max-width: 100%;
  }

  .btn.btn-default.click-here {
    font-size: 12px;
  }

  .hotline {
    margin-bottom: 5px;
  }
}
