.active {
  background-color: #F05D22;
}

.navbar {
  margin-bottom: 10px;
  min-height: 0px;
}

.navbar-collapse {
  background-color: #01807E;
  border-radius: 15px;
  text-align: center;
}

.navbar-nav.nav-justified > li {
  float: none;
  vertical-align: middle;
}

.navbar-default .navbar-nav>li:hover {
  background-color: #F05D22;
  color: white;
}

.navbar-default .navbar-nav>li>input:hover {
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: normal;

}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar-default {
  border-style: none;
  background-color: #fff;
  margin-bottom: 10px;
}

.navbar-toggle {
  left: 50%;
  margin-left: -22px;
  float: none;
}

li.searchbox {
  border-radius: 0px;
}

.navbar-default .navbar-nav>li.searchbox:hover {
  background-color: transparent;
}

.search-button {
  background-color: white;
  border-radius: 4px;
  border: 1px solid grey;
}
