---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.container-fluid {
  background-color: #fff;
}

.about {
  position: relative;
  max-width: 75%;
  display: inline-block;
}
.banner {
  padding: 5px;
}

.emergency {
  background-color: #BF004B;
  border-radius: 15px;
  text-weight: bold;
  color: white;
  margin: auto;
  padding: 5px;
}

.hotline {
  padding: 5px;
  padding-right: 15px;
  height: 100%;
}

.logo {
  max-width: 50%;
  padding-left: 15px;
}


.scales {
  max-width: 25%;
  max-height: 150px;
  float: right;
  display: inline-block;
  margin-top: 15px;
}

// -------------
// NavBar



.navbar {
  margin-bottom: 10px;
  min-height: 0px;
}

.navbar-collapse {
  background-color: #01807E;
  border-radius: 15px;
  text-align: center;
}

.navbar-nav.nav-justified > li {
    float:none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #F05D22;
  color: white;
}

.navbar-default {
  border-style: none;
  background-color: #fff;
}

.navbar-toggle {
  left: 50%;
  margin-left: -22px;
  float: none;
}

.searchbox {
	border-radius: 5px;
}

// -------------
//Homepage

.lightgrey {
	background-color: #B5B5B5;
}

.home-message p {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
}

.option-image {
  max-height: 411px;
  overflow: hidden;
}

.homepage-image {
  -webkit-border-radius: 15px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.homepage-box {
  padding: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 15px;
  position: relative;
  min-height: 458px;
}

.option-text {
  color: white;
  font-size: 15px;
  font-weight: bold;
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.option-title {
	text-align: center;
	margin-bottom: 5px;
}

.option-button {
  bottom: 10px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.preview {
  max-width: 40%;
  display: inline-block;
  border-radius: 15px;
  vertical-align: middle;
}

.preview-text {
  float: right;
  max-width: 55%;
  display: inline-block;
}

.btn.btn-default.click-here {
  font-weight: bold;
  color: black;
  display: block;
  margin: auto;
  margin-top: 10px;
  -webkit-border-radius: 15px;
}

.safetyplan {
  width:100%;
  min-height:200px;
  -webkit-border-radius: 15px;
  resize: none;
  outline: none;
  border-style: solid;
  border-color: black;
  padding: 10px;
}

.safety {
  padding: 10px;
  margin-top: 20px;
}

@media all and (max-width: 600px) {
    .option-image {
        display:none;
    }
    .banner-image {
      display: none;
    }
    p.option-text {
      min-height: 80px;
      font-size: 15px;
    }
    p.home-message {
      display: none;
    }
    .col-xs-6 {
      padding: 2px;
      margin-bottom: -10px;
    }
    .navbar-default {
      margin-bottom: 0px;
    }
    .homepage-box {
      padding: 10px;
      min-height: 160px;
    }
}

// -------------
//Generic

.banner-image {
	max-height: 200px;
	width: 100%;
  -webkit-border-radius: 15px;
  margin-bottom: 5px;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
}

.option-box {
  padding: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 15px;
  position: relative;
}

.blue {
  background-color: #01807E;
}

.blue-text {
	margin-bottom: 5px;
  color: #01807E;
  font-weight: bold;
}

.light-blue {
  background-color: #0077BF;
}

.white {
  background-color: #fff;
}

.white-text {
  color: #fff;
}

.orange {
  background-color: #F05D22;
}

.orange-text {
  color: #F05D22;
  font-weight: bold;
}

.grey {
  background-color: #616161;
}

.yellow {
  background-color: #BFB900;
}

.bubble {
  padding: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 15px;
  position: relative;
}

.bubble-title {
	font-size: 16px;
  text-align: center;
  margin: auto;
}

.halflogo {
  margin-top: 15px;
}

h4 {
	margin-bottom: 5px;
}

.grey-banner {
	margin: auto;
	text-align: center;
}

.main {
	font-size: 12px;
}

div>p {
	margin-bottom: 5px;
}

.side {
	font-size: 12px;
  clear: right;
  float: right;
}

.underlined {
	text-decoration: underline;
}

// -------------
// Local help table

.table {
  display: box;
  display: flex;
  flex-flow: column nowrap;
  box-pack: justify;
  -o-justify-content: space-between;
  justify-content: space-between;
  line-height: 1.25;
}

.table-header {
  display: box;
  display: flex;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  text-align: center;
}

.table-header-item {
  background-color: #F05D22;
}

.table-row {
  display: box;
  display: flex;
  flex-flow: row-nowrap;
  width: 100%;
  &:nth-of-type(even) { background-color: #F0F7F7; }
  &:nth-of-type(odd) { background-color: #C7E2E2; }
}

.table-row-item {
	&:nth-of-type(1) { font-weight: bold; }
  padding: 1%;
  align-items: center;
  display: box;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding-left: 0.3em;
  word-break: break-word;
  border: 3px solid white;
}

.service {
  text-align: center;
  border-radius: 15px 0 0 15px;
}

.contact {
  border-radius: 0 15px 15px 0;
}

// ---------------
// safety plan page

.print-box {
	display: block;
	margin: auto;
	max-width: 20%;
}

.safety-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 15px;
}

.safety-box {
	display: flex;
	flex-direction: column;
	height: 250px;
	width: 350px;
	min-height: 50px;
	min-width: 50px;
	margin: 10px;
}

.safety-header {
  color: #01807E;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.safety-text {
	display: flex;
	height: 250px;
	border: 2px solid grey;
	border-radius: 15px;
}

.safety-tooltip {
	display: none;
	background-color: #01807E;
	color: white;
	height: 100px;
	width: 100px;
  position: absolute;
  z-index: 1000
}

.safety-mark {
	max-height: 25px;
	max-width: 25px;
	float: right;
	&:hover .safety-tooltip {
		display: block;
		border: 12px solid black;
	}
}

.safety-ring {
	max-width: 70%;
	margin: auto;
	display: block;
}

@media print {
  .site-header {
    display: none;
  }
  .bubble {
    display: none;
  }
  .safety-mark {
    display: none;
  }
  @page {size: landscape}
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.25;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
