---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.container-fluid {
  background-color: #fff;
}

.about {
  position: relative;
  max-width: 85%;
  display: inline-block;
}
.banner {
  padding: 5px;
}

.emergency {
	font-size: 14px;
	text-align: center;
  background-color: #BF004B;
  border-radius: 15px;
  color: white;
  margin: auto;
  padding: 5px;
}

.hotline {
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%;
}

.logo {
  max-width: 50%;
}


.scales {
  max-width: 25%;
  max-height: 150px;
  float: right;
  display: inline-block;
  margin-top: 15px;
}

// -------------
// NavBar

.navbar {
  margin-bottom: 10px;
  min-height: 0px;
}

.navbar-collapse {
  background-color: #01807E;
  border-radius: 15px;
  text-align: center;
}

.navbar-nav.nav-justified > li {
    float:none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #F05D22;
  color: white;
}

.navbar-default {
  border-style: none;
  background-color: #fff;
  margin-bottom: 10px;
}

.navbar-toggle {
  left: 50%;
  margin-left: -22px;
  float: none;
}

li.searchbox {
	border-radius: 0px;
}

.search-button {
	background-color: white;
	border-radius: 4px;
	border: 1px solid grey;
}

// -------------
//Homepage

.lightgrey {
	background-color: #B5B5B5;
}

.home-message p {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
}

.option-image {
  overflow: hidden;
}

.homepage-image {
  -webkit-border-radius: 15px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  max-width: 250px;
  width: 100%;
}

.homepage-box {
	margin: auto;
	margin-left: 4%;
	margin-right: 4%;
  padding: 4%;
  margin-bottom: 10px;
  -webkit-border-radius: 15px;
  position: relative;
  min-height: 330px;
  max-width: 275px;
}

.option-text {
  color: white;
  font-size: 1.1em;
  font-size: 2.0vmin;
  margin-top: 10px;
  margin-bottom: 15px;
  min-height: 40px;
  height: 60px;;
}

.options {
	margin-top: 1%;
}

.option-title {
	text-align: center;
	margin-bottom: 5px;
}

.option-button-mobile {
  display: none;
}

a.option-link:hover {
  text-decoration: none;
}

.preview {
  max-width: 40%;
  display: inline-block;
  border-radius: 10px;
  vertical-align: middle;
  max-height: 175px;
}

.preview-text {
  max-width: 55%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.btn.btn-default.click-here {
  font-weight: bold;
  font-size: 1em;
  font-size: 1.25vw;
  color: black;
  display: block;
  margin: auto;
  margin-top: 20px;
  -webkit-border-radius: 15px;
  width: 65%;
}

@media all and (max-width: 600px) {
	.preview {
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}
	.preview-text {
		max-width: 100%;
	}
}

@media all and (max-width: 767px) {
  .banner-image {
    display: none;
  }
  .option-image {
    display:none;
  }
  p.option-text {
    min-height: 80px;
		font-size: 20px;
  }
  p.home-message {
    display: none;
  }
  .col-xs-6 {
    padding: 2px;
    margin-bottom: -10px;
  }
  .navbar-default {
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
  }
  .navbar-nav {
  	margin: auto;
  }
  .homepage-box {
    padding: 10px;
    min-height: 160px;
    margin: auto;
    margin-bottom: 20px;
  }
  .option-button {
    display: none;
  }
  .option-button-mobile {
    display: block;
  }
  .safety-box {
  	max-width: 250px;
  }
  li.searchbox {
  	margin-bottom: 5px;
  }
  .quicklink {
  	display: none;
  }
}

@media all and (max-width: 994px) {
	.scales {
		display: none;
	}
	.about {
		max-width: 100%;
	}
}

// -------------
//Generic

.banner-image {
	max-height: 300px;
	width: 100%;
  -webkit-border-radius: 15px;
  margin-bottom: 10px;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
}

.option-box {
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 15px;
  position: relative;
}

.flat {
	margin-bottom: 0px;
}

.blue {
  background-color: #01807E;
}

.blue-text {
	margin-bottom: 5px;
  color: #01807E;
  font-weight: bold;
}

.light-blue {
  background-color: #0077BF;
}

.white {
  background-color: #fff;
  padding-left: 1px;
}

.white-text {
  color: #fff;
  margin-left: 5px;
}

.orange {
  background-color: #F05D22;
}

.orange-text {
  color: #F05D22;
  font-weight: bold;
}

$light-orange: lighten(#F05D22, 5%);
a.orange-text:visited {
	color: $light-orange;
}

.grey {
  background-color: #616161;
}

.yellow {
  background-color: #BFB900;
}

.bubble {
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 15px;
  position: relative;
}

.inner-bubble {
	margin-bottom: 5px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  position: relative;
}

.bubble-title {
	font-size: 16px;
  text-align: center;
  margin: 2px;
  padding: 1px;
}

.spaced5 {
	margin-top: 5px;
}

.spaced10 {
	margin-top: 10px;
}

.halflogo {
  margin-top: 15px;
}

h4 {
	margin-bottom: 5px;
}

.grey-banner {
	margin: auto;
	text-align: center;
	margin-bottom: 10px;
}

.main {
	font-size: 1em;
}

html {
	padding: 1% 4% 0% 4%;
}

div>p {
	margin-bottom: 5px;
	margin-left: 5px;
}

.centred {
	text-align: center;
}

.wrapped {
	overflow-wrap: break-word;
}

.side {
	font-size: 12px;
  clear: right;
}

.underlined {
	text-decoration: underline;
}

.quicklink {
  background-color: #F05D22;
	padding: 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 15px;
  position: relative;
}

// Bootstrap edits

.col-md-9 {
	padding-left: 5px;
	padding-right: 5px;
}

.col-md-3 {
	padding-left: 5px;
	padding-right: 5px;
}

.col-sm-9 {
	padding-left: 5px;
	padding-right: 5px;
}

.col-sm-3 {
	padding-left: 5px;
	padding-right: 5px;
}

.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
}

input.st-default-search-input {
	max-height: 12px;
	width: 125px;
}

// -------------
// Local help table

.table {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  box-pack: justify;
  -o-justify-content: space-between;
  justify-content: space-between;
  line-height: 1.25;
}

.table-header {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  text-align: center;
}

.table-header-item {
  background-color: #F05D22;
}

.table-row {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row-nowrap;
  width: 100%;
  &:nth-of-type(even) { background-color: #F0F7F7; }
  &:nth-of-type(odd) { background-color: #C7E2E2; }
}

.table-row-item {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	&:nth-of-type(1) { font-weight: bold; }
  padding: 1%;
  align-items: center;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding-left: 0.3em;
  word-break: break-word;
  border: 3px solid white;
}

.service {
  text-align: center;
  border-radius: 15px 0 0 15px;
}

.contact {
  border-radius: 0 15px 15px 0;
}

// ---------------
// safety plan page

.print-box {
	display: block;
	margin: auto;
	width: 195px;
	margin-bottom: 20px;
}

.print-text:hover {
	border-bottom: 2px solid white;

}

.print-link:hover {
	text-decoration: none;
}

.safetyplan {
  width:100%;
  min-height:200px;
  -webkit-border-radius: 15px;
  resize: none;
  outline: none;
  border-style: solid;
  border-color: black;
  padding: 10px;
}

.safety {
  padding: 10px;
  margin-top: 20px;
}

.safety-container {
	text-align: center;
  background-color: #F2F2F2;
  border-radius: 15px;
  max-width: 680px;
  margin: auto;
  margin-bottom: 10px;
}

.safety-box {
	float: none;
	display: inline-block;
	padding: 5px;
	height: 300px;
	width: 300px;
	min-height: 50px;
	min-width: 50px;
}

.safety-header {
  color: #01807E;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 80%;
}

.safety-text {
	margin: auto;
	display: block;
	height: 80%;
	width: 100%;
	border: 2px solid grey;
	border-radius: 15px;
	outline: none;
}

.safety-text:focus {
	border: 2px solid #F05D22;
}

.safety-tooltip {
  position: absolute;
  left: 45%;
  top: 45%;
  display: none;
  opacity: 0.75;
  background-color: #01807E;
  color: white;
  text-align: center;
  margin: auto;
  height: 100px;
  width: 100px;
  z-index: 1000;
  border-radius: 5px;
}

.safety-mark {
	max-height: 20px;
	max-width: 20px;
  display: inline-block;
}

.safety-mark:hover +.safety-tooltip {
	display: block;
}

.safety-ring {
	max-width: 80%;
	margin: auto;
	display: block;
}

@media print {
  .site-header {
    display: none;
  }
  .bubble {
    display: none;
  }
  .safety-mark {
    display: none;
  }
  .safety-text {
	font-size: 15px;
	padding: 5px;
  }
  .safety-header {
	font-weight: bold;
  }
  .safety-box {
  	height: 300px;
  	width: 300px;
  }
  .safety-description {
  	display: none;
  }
  @page {size: landscape}
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.25;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
